body{
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(8, 8, 8);
}

.container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   height: 100px;
   width: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.circle1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100px;
   width: 100px;
   border-radius: 50%;
   animation-direction: normal;
   border-top: 3px solid yellow;
   animation: rotat 5s ease-in-out infinite;
  position: relative;
   border-bottom: 3px solid rgb(38, 34, 250);
}
.circle1::before{
   content: '';
   position: absolute;
   height: 10px;
   width: 10px;
   background-color: yellow;
   box-shadow: 2px 200px 150px 50px yellow;
   top: 50%;
   left: 0;
   border-radius: 50%;
}
.circl2{
   animation: rotat 5s ease-in-out infinite;
   position: relative;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   border-left: 3px solid yellow;
   border-right: 3px solid rgb(38, 34, 250);
   
}
.circl2::before{
   content: '';
   position: absolute;
   height: 10px;
   width: 10px;
   box-shadow: 2px 200px 150px 50px blue;
   background-color: rgb(15, 48, 231);
   top: 50%;
   right:0;
   border-radius: 50%;
}
@keyframes rotat{
   0%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(360deg);
   }
   100%{
      transform: rotate(3600deg) ;
   }
}
